<!-- Страница редактирования -->
@model NailWarehouse.Web.Models.ValidatableNail
@{
	ViewData["Title"] = "Редактирование";
}

<div class="container-fluid">

	<h2>Редактирование данных в реестре склада гвоздей</h2>

	<form asp-action="NailEdit" method="post">
		<div asp-validation-summary="All"></div>

		<input asp-for="Id" hidden />

		<label asp-for="Name" class="width150px">Название:</label>
		<input asp-for="Name" />
		<br />

		<label asp-for="Length" class="width150px">Размер, мм:</label>
		<input asp-for="Length" value="@ResetCultureForDecimalPoint(Model.Length)" type="number" step="0.50" min="0.5" max="100000" />
		<br />

		<label asp-for="Material" class="width150px">Материал:</label>
		<select asp-for="Material">
			@foreach (object material in Enum.GetValues(typeof(Material)))
			{
				<option value="@material">@GetDescription(material)</option>
			}
		</select>
		<br />

		<label asp-for="Count" class="width150px">К-во на складе:</label>
		<input asp-for="Count" value="@ResetCultureForDecimalPoint(Model.Count)" type="number" min="0" max="10000000" />
		<br />

		<label asp-for="MinCount" class="width150px">Мин к-во: </label>
		<input asp-for="MinCount" value="@ResetCultureForDecimalPoint(Model.MinCount)" type="number" min="0" max="10000000" />
		<br />

		<label asp-for="Price" class="width150px">Цена без НДС, руб:</label>
		<input asp-for="Price" type="number" value="@ResetCultureForDecimalPoint(Model.Price)" step="0.01" min="0.01" max="10000000" />
		<br />

		<button type="submit">ОК</button>
	</form>

</div>

